body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

div {
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

input, button {
    padding: 5px;
    margin-right: 10px;
}

#quoteDisplay {
    margin-top: 20px;
    font-size: 2.2em;
    color: #555;
}